/*
Stylesheet for frontend
First imports bootstrap content
Afterwards adds own css
*/

/*Bootstrap related imports*/
@import '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

$font-stack: Henriette, slab-serif;

@import '_colors';

%highlight-box {
  color: $box-font-color;
  border: 1px solid $box-color;
  background-color: $box-color;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px
}

%box-color {
  border-color: $box-color;
  background-color: $box-color;
  color: $box-font-color;
}

%box-color-hover {
  border-color: $box-color-hover;
  background-color: $box-color-hover;
  color: $box-font-color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.main-block{
  margin: 0.5rem 0;
  padding: 0 1.5rem;
}

.temperature{
  @extend %highlight-box;
  width: 5rem;
  float: right;
}

.submit-container {
  margin: 0.5rem 0;
}

.TimerContainer {
  color: $secondary-color;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.Timer {
  padding: 0px 5px;
}

.info {

  color: $secondary-color;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.btn {
  @extend %highlight-box;
  padding: 0.2rem;
}

.btn:hover {
  border-color: $box-color-hover;
  background-color: $box-color-hover;
}

.card {
  border-style: none;
}

#site-header {
  margin-top: 2rem;
}

#loader {
  width: 100%;
  text-align: center;
}

.loader-text {
  color: $secondary-color;
  margin: auto;
}

#locationNavButton:hover {
  @extend %box-color-hover;
}

#locationNavButton.active{
  @extend %box-color;
}

#locationNavButton.active:hover {
  @extend %box-color;
}

@import 'range';

